#main {
    width: 800px;
}

@media only screen and (max-width:800px) {
    #main {
        margin: auto;
        width: 90vw;
    }

    #networkView {
        width: 90vw;
    }

    #logView {
        width: 90vw;
    }
}

#networkView {
    margin-bottom: 30px;
}

#networkTable {
    text-align: center;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

#networkTable th {
    border: 1px solid black;
}

#networkEmpty, #networkEmpty td {
    border: none;
    height: 20px;
}

.connection {
    border: none;
    color: green;
}

#logTable {
    width: 100%;
    table-layout: fixed;
}

#logTable, #logTable th, #logTable td {
    border: 1px solid black;
    border-collapse: collapse;
    word-wrap: break-word;
}
