body {
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #AAA;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav #admin {
    position: absolute;
    top: 0;
    margin-top: 8px;
}

.sidenav div.deviceDiv {
    padding: 8px 8px 8px 32px;
    color: #CCC;
    display: block;
    transition: 0.3s;
}

.sidenav div.deviceDiv:hover {
    color: #f1f1f1;
}

.sidenav div.stateDiv {
    margin-top: 5px;
}

.sidenav button {
    cursor: pointer;
    float: right;
    width: 100px;
    margin-right: 10px;
}

.sidenav .state {
    padding-top: 10px;
    vertical-align: middle;
}

.sidenav .state-REDY {
    color: green;
}

.sidenav .state-ALRM {
    color: red;
}

.sidenav .state-DEAC {
    color: orange;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#camSelect {
    margin-bottom: 10px;
}

#openMenu {
    position: fixed;
    margin-top: -5px;
    margin-left: 5px;
    font-size: 30px;
    cursor: pointer;
}

#main {
    margin: auto;
    width: 500px;
}

#main h1 {
    text-align: center;
}

#video {
    width: 500px;
}

#moveContainer {
    margin-top: 10px;
    text-align: center;
}

#moveContainer table {
    width: 100%;
    table-layout: fixed;
}

#moveContainer table tr {
    height: 50px;
}

#moveContainer table td.move {
    background-color: #BBB;
}

#moveContainer table td.move:hover {
    cursor: pointer;
}

#moveContainer table td.move:active {
    background-color: #DDD;
}

@media only screen and (max-width:600px) {
    #main {
        margin: auto;
        width: 90vw;
    }
    
    #video {
        width: 90vw;
    }
}
